[2019-08-19 02:52] 6XGate commented on #269
I'm running into the same issue, or rather an issue where no errors get picked up at all through webpack.

[2019-08-19 11:04] ricardogobbosouza commented on #269
@6XGate Could you provide a repository with the issue please ? I'll take a look ;)

[2019-08-20 10:13] #252 closed

[2019-08-20 10:13] #265 closed

[2019-08-20 10:13] #268 closed

[2019-08-20 10:13] #270 closed

[2019-08-20 10:13] #289 closed

[2019-08-24 03:21] ricardogobbosouza commented on #43
Use `nodemon` for this.
Ex: `nodemon --watch .eslintrc.js --exec webpack`

[2019-08-24 03:21] #43 closed

[2019-08-24 05:23] ricardogobbosouza commented on #214
This would require creating a plugin that removes the cache before.
At the moment I recommend removing manually as said @jenssogaard

[2019-08-24 18:58] ricardogobbosouza commented on #267
@kelly-tock could you provide a repository ?

[2019-08-26 08:45] kud opened #292 "First line of a file displays a weird colour"
Hello!

I'm not sure if it's a bug or not, not sure if it depends on eslint-loader, eslint or my zsh/iterm2

but the first line of each file reported by eslint has a special colour, this is weird.

- Operating System: macOS 10.14.6
- Node Version: v12.9.0
- NPM Version: 6.11.2
- webpack Version: 4.39.2
- eslint-loader Version: 3.0.0

### Expected Behavior

No different colour?

### Actual Behavior

[2019-08-27 11:57] kud commented on #292
Thank you!

[2019-08-31 00:05] ricardogobbosouza commented on #292
Resolved on eslint 6.3

[2019-08-31 00:05] #292 closed

[2019-09-05 15:54] barberdt commented on #267
@ricardogobbosouza @kelly-tock

**Repro repository provided here:** https://github.com/barberdt/loader-issue

**Repro steps**:
[code]

[2019-09-05 15:59] barberdt commented on #267
@ricardogobbosouza @kelly-tock

**Repro repository provided here:** https://github.com/barberdt/loader-issue

**Repro steps:**
[code]

- Observe the output of the single eslint error:

[code]

- Kill the dev server
- Start the dev server again (`yarn run test`)
- Observe a successful build instead of seeing the expected error.

Restarting the server from this point forward should continue to show

[2019-09-05 16:50] kelly-tock commented on #267
Thanks for providing this!

[2019-09-15 15:36] freeozyl80 opened #293 "eslint loader question"
when i use eslint-loader and give custom config path, anything is ok unless i use eslint plugin, because eslint-loader generate the wrong context which has no eslint-plugin-xxx

graph is here
 --dirA // this is my webpack entry dir
     -- entry.js
 --dirB // this is my eslintrc
     -- eslintrc.
     -- node_modules
          -- eslint-plugin-xxx

i hope using eslint-loader , i can find eslint-pl

[2019-09-15 23:13] ricardogobbosouza commented on #293
@freeozyl80
Please provide a repository with the issue.

[2019-09-16 07:56] freeozyl80 commented on #293
finally use process.chdir('xxxx') to resolve this Ques!  anyway, thanks

[2019-09-16 09:58] #293 closed

[2019-09-27 15:43] dcs3spp opened #301 "Expecting eslint-loader to report same linting errors as npm run lint when both refer to same configuration file and ts extension"
- Operating System: macOS
- Node Version: v10.16.0
- NPM Version: 6.9.2
- webpack Version: 4.39.3
- eslint-loader Version: 3.0.2

### Expected Behavior

Expecting eslint-loader to report the same linting errors as npm run lint. Both reference the same configuration file and extension. The project is a typescript project available [here](https://gitlab.com/dcs3spp/nestjs_demonstration).

### Actual

[2019-09-27 17:34] dcs3spp commented on #301
Apologies to all, I think I understand what was happening....

My `npm run lint` script was reporting lint errors/warnings from . (./src/ and ./test). If I altered the lint script to inspect ./src and modified files that are referenced from the entrypoint(s) then the same errors were being reported. At first I had the options  *failOnError: true*, and *failOnWarning: true* so only one error/warnin

[2019-09-27 17:34] #301 closed

[2019-09-29 17:16] tranthaison1231 opened #302 "Uncaught Error: Module build failed (from ./node_modules/eslint-loader/dist/cjs.js):"
- Operating System:
- Node Version:
- NPM Version:
- webpack Version:
- eslint-loader Version:

### Expected Behavior

### Actual Behavior

### Code

[code]

[code]

### How Do We Reproduce?

[2019-09-29 23:06] ricardogobbosouza commented on #302
@tranthaison1231 Could you provide more information or a repository?

[2019-09-30 08:17] tranthaison1231 commented on #302
Yeah, I have repository so old, and yesterday I update it, but I have error with it.

[2019-09-30 08:17] tranthaison1231 commented on #302
`{
  "name": "RAA-AnhDoan",
  "version": "0.1.0",
  "private": true,
  "dependencies": {
    "antd": "^3.23.5",
    "connected-react-router": "^6.5.2",
    "customize-cra": "^0.8.0",
    "history": "^4.10.1",
    "i18next": "^17.0.16",
    "i18next-browser-languagedetector": "^3.0.3",
    "less": "^3.10.3",
    "less-loader": "^5.0.0",
    "lodash": "^4.17.15",
    "moment": "^2.24.0",
    "prop-t

[2019-09-30 08:17] tranthaison1231 commented on #302
{
  "name": "RAA-AnhDoan",
  "version": "0.1.0",
  "private": true,
  "dependencies": {
    "antd": "^3.23.5",
    "connected-react-router": "^6.5.2",
    "customize-cra": "^0.8.0",
    "history": "^4.10.1",
    "i18next": "^17.0.16",
    "i18next-browser-languagedetector": "^3.0.3",
    "less": "^3.10.3",
    "less-loader": "^5.0.0",
    "lodash": "^4.17.15",
    "moment": "^2.24.0",
    "prop-ty

[2019-09-30 08:18] tranthaison1231 commented on #302
My error is
![image](https://user-images.githubusercontent.com/43759215/65860950-8dca7a00-e395-11e9-9563-aa58c4690ac7.png)

[2019-09-30 09:45] ricardogobbosouza commented on #302
@tranthaison1231
Some of your dependencies are using `eslint-loader: 3.0.0`
This bug was fixed in 3.0.1 and we are in 3.0.2

[2019-09-30 09:47] ricardogobbosouza commented on #302
Try: `npm install eslint-loader --save-dev`

[2019-09-30 09:54] ricardogobbosouza commented on #302
Here the problem `react-scripts`
https://github.com/facebook/create-react-app/blob/master/packages/react-scripts/package.json#L47

[2019-09-30 14:04] alexplumb commented on #302
I started getting this error after upgrading from `eslint@6.4.0` to `eslint@6.5.0`. I'm using `eslint-loader@3.0.2`.

[2019-09-30 14:38] ricardogobbosouza commented on #302
@alexplumb Please share your configuration and if possible a repository to reproduce.

[2019-09-30 14:46] alexplumb commented on #302
Here's my eslintrc and my webpack config

[code]
const webpackConfig: webpack.Configuration = {
  mode: 'development',
  target: 'web',
  devServer: {
    headers: {
      'Access-Control-Allow-Origin': '*',
      'Access-Control-Allow-Methods': 'GET,POST,PUT,DELETE,PATCH,OPTIONS',
      'Access-Control-Allow-Headers': 'content-type,authorization,accept',
    },
    port: 5000,
    public: ngrok.b

[2019-09-30 14:57] ricardogobbosouza commented on #302
@alexplumb your package.json too

[2019-09-30 14:59] alexplumb commented on #302
[code]

[2019-09-30 16:22] ricardogobbosouza commented on #302
@alexplumb try re-install
`rm -rf node_modules yarn.lock package-lock.json && npm install`

[2019-10-01 10:03] #302 closed

[2019-10-02 15:06] iamolegga opened #303 "compile twice in `watchMode` with `options: { fix: true }`"
- Operating System: macOS Mojave 10.14.6 (18G95)
- Node Version: v12.9.1
- NPM Version: 6.10.2
- webpack Version: 4.41.0
- eslint-loader Version: ^3.0.2

### Expected Behavior

should not compile twice in `watchMode` with `options: { fix: true }`

### Actual Behavior

compile twice in `watchMode` with `options: { fix: true }`

### Code

https://github.com/iamolegga/eslint-loader-compile-twice-demo

[2019-10-11 20:29] thasmo opened #304 "Lint dirty/modified files only"
# Feature Proposal
Add an option similar to the [`lintDirtyModulesOnly` option of the styleling plugin](https://webpack.js.org/plugins/stylelint-webpack-plugin/#lintdirtymodulesonly), which only lints changed files and skips linting on start; could be `false` by default.

# Use Case
Introducing linting to an existing big project is a lot of work and a possibility to lint and fix only changed files

[2019-10-11 21:23] DiscoNova commented on #304
I do see a benefit of this... but - to me at least - it appears that this approach could lead to issues somewhere down the road.

Doing tons of changes (that may be completely unrelated to the change you intended to make simply because it was dismissed from linting before) on a file you're modifying for a specific thing ... can easily lead to things getting missed on peer review.

Whereas... if th

[2019-10-13 07:20] VimLeSai commented on #271
@vinayakkulkarni Thanks. This works!

[2019-10-15 22:39] ricardogobbosouza commented on #304
@thasmo this would require creating a plugin, which runs a little farther, as this is a loader.
We can think of creating an `eslint-webpack-plugin` plugin that incorporates this loader, what do you think @evilebottnawi ?

[2019-10-16 12:13] evilebottnawi commented on #304
@ricardogobbosouza yes, it is require create plugin, plugins also have more api than loader, maybe it is good idea migrate on plugin

[2019-10-17 11:40] ricardogobbosouza commented on #304
@evilebottnawi Should we create a separate repository? or migrate this one?

[2019-10-17 11:43] evilebottnawi commented on #304
@ricardogobbosouza will be great create separate repo and deprecate this after official release. Do you want to do it? If yes, just ping me again and i will create new repo

[2019-10-17 12:01] evilebottnawi commented on #304
@ricardogobbosouza Welcome https://github.com/webpack-contrib/eslint-webpack-plugin :tada:

[2019-10-17 12:49] ricardogobbosouza commented on #304
@evilebottnawi thanks

[2019-10-24 17:07] mi-mazouz commented on #287
not working with eslint version 6.1.0

[2019-10-29 08:10] seedliu commented on #287
i reduce the version of eslint from 6.x.x to 5.14, it's worked

[2019-10-29 08:51] jimmybrawn commented on #287
still problem here with 5.14

[2019-10-30 11:50] FuzzyAtish commented on #287
Same thing here.
After downgrading [eslint](https://github.com/eslint/eslint) from 6.6.0 to 5.14 it started working

[2019-11-06 00:41] Sebastp commented on #287
Still, no fix doesn't work when downgrading eslint

[2019-11-06 08:32] FuzzyAtish commented on #287
Have you tried downgrading to version 5.x.x like @seedliu mentioned [above](https://github.com/webpack-contrib/eslint-loader/issues/287#issuecomment-547304036)
It's working for me with versions 5.14.1 and 5.16 too

[2019-11-06 11:10] Sebastp commented on #287
Yup,  5.14 and  6.5.1 doesn't work for me

[2019-11-06 12:09] ricardogobbosouza commented on #287
Its works
Please see the documentation at https://github.com/typescript-eslint/typescript-eslint#how-do-i-configure-my-project-to-use-typescript-eslint

[code]

[code]

[code]

[2019-11-06 12:12] ricardogobbosouza commented on #287
Please, if any error occurs, provide a repository and step by step to reproduce

[2019-11-07 18:36] carlcodes opened #305 "Running webpack when the entry is using require.context does not fail with proper exit code"
The state of my application (migrating from angularjs to react) requires a need for requiring all files in a directory, as apposed to using normal imports / requires / react dom / whatever else.
e.g. https://stackoverflow.com/questions/29421409/how-to-load-all-files-in-a-directory-using-webpack-without-require-statements

- Operating System: windows 10
- Node Version: 10.15.0
- NPM Version: 6.4.1

[2019-11-08 09:49] #287 closed

[2019-11-12 03:13] Venryx commented on #129
In my case the issue was fixed by changing from the old `webpack.module.rules.Rule.query` key to `webpack.module.rules.Rule.options`.

[2019-11-12 07:05] endersaka opened #306 "TypeError: Cannot read property '0' of undefined"
- Operating System: Mac OS X Sierra 10.12.6
- Node Version: 12.13.0
- NPM Version: 6.12.0
- webpack Version: 4.41.2
- eslint-loader Version: 3.0.2

### Expected Behavior

To fluently build the project. This is the expected output.

[code]

### Actual Behavior

This project has been created based on [labnol/apps-script-starter](https://github.com/labnol/apps-script-starter). I was just preparing it

[2019-11-12 11:25] endersaka commented on #306
### Update

Since I am going on with my development I created a Git tag of the commit where I found the error.

It is [eslint-loader_failure](https://github.com/endersaka/gas-copy-gdocs-paragraph-style/tree/eslint-loader_failure).

[2019-11-12 15:34] ricardogobbosouza commented on #304
@evilebottnawi it's almost ready
https://github.com/webpack-contrib/eslint-webpack-plugin/ :smile:

Can configure azure pipeline?
https://github.com/webpack-contrib/eslint-webpack-plugin/issues/1

[2019-11-12 18:25] thasmo commented on #304
@ricardogobbosouza, awesome - didn't expect to have this so fast. Very nice! Going to look into it asap. 👍

[2019-11-12 18:53] ricardogobbosouza commented on #304
@thasmo thanks

See https://github.com/webpack-contrib/eslint-webpack-plugin#lintdirtymodulesonly

[2019-11-12 19:02] ricardogobbosouza commented on #305
Hi @carlcodes
Please, use [eslint-webpack-plugin](https://github.com/webpack-contrib/eslint-webpack-plugin)
We are building this plugin to have more control than the loader

[2019-11-12 19:04] ricardogobbosouza commented on #207
Hi @Fafko
Try to use [eslint-webpack-plugin](https://github.com/webpack-contrib/eslint-webpack-plugin)
We are building this plugin to have more control than the loader

[2019-11-12 19:07] ricardogobbosouza commented on #214
Hi @swrobel
Try to use [eslint-webpack-plugin](https://github.com/webpack-contrib/eslint-webpack-plugin)
We are building this plugin to have more control than the loader.
With this plugin the cache used is directly from eslint

[2019-11-12 19:10] ricardogobbosouza commented on #304
I'll leave it open for now, but the idea is to use `eslint-webpack-plugin`.

[2019-11-15 10:11] FuzzyAtish commented on #287
Hello,
Sorry for the follow-up, I'm aware that the issue has been closed, I'd just like to share my experience.
For some reason, I was encountering this error within Visual Studio Code only when my project wasn't in the root folder of the project, i. e. there's a C# project, where the client side is separately included, but it's not the root.
Once I've reopened the project in VS Code as the root l

[2019-11-26 14:26] filipekiss opened #308 "Loader reporting syntax errors when dealing with typescript files"
- Operating System: macOS Mojave 10.14.6
- Node Version: 8.10
- NPM Version: 5.6.0
- webpack Version: 4.41.2
- eslint-loader Version: 3.0.2

### Expected Behavior

I expect the loader to respect the `.eslintrc.json` and parse TypeScript correctly instead of parsing it as JavaScript

### Actual Behavior

When I run the webpack config using `eslint-loader`, it tries to parse typescript files as Java

[2019-11-27 14:31] mrkitan commented on #306
@endersaka I have very similar problem in my project, but I did a temporary solutuion without edit eslint-code.
In my webpack config rules of eslint-loader I disabled option "fix" and it works, but I'm waiting for final solution.

[2019-11-28 02:52] PantongWu opened #309 "TypeError: CLIEngine is not a constructor"
- Operating System:  Mac 10.15.1
- Node Version: 12.12
- Yarn Version: 1.19.1
- webpack Version: 4.41.2
- eslint-loader Version :3.0.2

我不清楚是哪里chu出了问题
![image](https://user-images.githubusercontent.com/21765389/69773219-2c742b00-11cd-11ea-8486-d75cb4f9de97.png)

### Expected Behavior

### Actual Behavior

### Code

[code]

[code]

### How Do We Reproduce?

[2019-12-04 12:40] endersaka commented on #306
Good to know @mrkitan, thanks for the suggestion.

[2019-12-04 12:43] ricardogobbosouza commented on #306
Hi @endersaka
I'm releasing a fix right now

[2019-12-04 13:08] ricardogobbosouza commented on #308
Hi @filipekiss
Not a problem with `eslint-loader`, if you remove `eslint-loader`, same error happens, you need loader for typescript, try this:

[code]

[2019-12-04 13:15] ricardogobbosouza commented on #309
Hi @PantongWu
What version of eslint?

[2019-12-04 13:16] filipekiss commented on #308
Hi @ricardogobbosouza, thank you for the explanation. It indeed worked when I added the `ts-loader` rule. Do you have any idea why do I need it, though? This particular case I only want to use webpack to watch-lint files.

Thanks for the help, appreciated! Cheers!

[2019-12-04 13:24] ricardogobbosouza commented on #308
@filipekiss  webpack does not handle typescript files. See https://webpack.js.org/guides/typescript/

You can use [eslint-watch](https://www.npmjs.com/package/eslint-watch)

[2019-12-04 13:28] filipekiss commented on #308
I mean, do I still need the TS Loader for the `eslint-loader` in this case? Shouldn't `eslint-loader` just pass this to `eslint` and `eslint` itself will handle the TypeScript stuff?

---

(I'll close the issue because this is more curiosity than an issue related to `eslint-loader`. Thank you for your help!)

[2019-12-04 13:28] #308 closed

[2019-12-04 13:35] ricardogobbosouza commented on #308
@filipekiss using loader yes, you will need to add ts-loader

You can try using the plugin https://github.com/webpack-contrib/eslint-webpack-plugin

[2019-12-04 13:36] filipekiss commented on #308
Thank you, Ricardo! :D

[2019-12-04 13:56] evilebottnawi commented on #308
@ricardogobbosouza what is status of plugin? Any ETA wen we can deprecate loader in favor plugin?

[2019-12-04 14:57] ricardogobbosouza commented on #308
@evilebottnawi
The plugin was born very complete, but I need to make some adjustments, especially in the option `lintDirtyModulesOnly`, unfortunately we still have few downloads and therefore few reports of use.
I think we can depreciate the loader as soon as webpack 5 as released

[2019-12-06 12:12] #306 closed

[2019-12-07 00:12] DanielSchaffer commented on #43
@ricardogobbosouza that's not ideal - you lose all the benefits you get from running Webpack in watch mode

[2019-12-10 23:33] simkessy opened #313 "Different lint results between webpack and cli"
I'm getting Linting Errors when I run:

I get multiple liniting errors.

However, I've run in the terminal this command to clean up my files:

This went through and updated 90+ files in my repository. I'm not entirely sure why I'd get any linting errors following this.

This is my webpack config:

      module: {
        rules: [
          {
            // will compile both js and jsx files

[2019-12-10 23:36] simkessy commented on #222
Why was this closed, not seeing a solution

[2019-12-11 15:32] #313 closed

[2019-12-12 00:39] simkessy opened #314 "How to now fail the build on error or warning"
I'm trying to prevent my builds from failing despite ANY errors or warnings. I've tried this config in webpack:

[code]

I haven't ran prettier yet on my project so there's like 80 files which need to change and will cause the build to fail. I want the configs in before that, then I'll lint after.

[2019-12-20 17:13] ricardogobbosouza commented on #314
@simkessy Please provide a repository with the issue.

[2019-12-20 17:46] ricardogobbosouza commented on #308
@evilebottnawi I just released eslint-webpack-plugin [v0.1.0](https://github.com/webpack-contrib/eslint-webpack-plugin/releases/tag/v0.1.0)
I think we can already recommend the plugin, but I still doubt about deprecating eslint-loader

[2020-01-19 12:22] RahmatAliMalik5 commented on #287
Error Still there. I am using `eslint` as global with one `.eslintrc.json` for all of my project. I am using `@typescript-eslint` to lint `.ts` files.

I have just installed fresh windows.
Installed `eslint` and `@typescript-eslint` globally.
Got error of `@typescript-eslint` not found as described previously here.
Came on this page. Checked the `eslint` verions, which was `6.8`.
Downgraded to `5.

[2020-01-20 08:50] brandonwie commented on #271
This was the only thing that worked. Thanks.

[2020-01-20 12:12] ricardogobbosouza commented on #287
@RahmatAliMalik5
Please provide a repository and step by step to reproduce

[2020-01-20 12:35] RahmatAliMalik5 commented on #287
@ricardogobbosouza
Thanks for your comment. I get error only when I use `eslint` as global by installing `eslint` and other packages globally by using `npm i -g`. I like to use only one `.eslintrc.json` file for all of my projects. Therefore, I am using global `eslint` settings in my Visual Studio Code.

The error maybe due to VS Code extension ESLint, I am using to lint automatically ([link of ex

[2020-01-28 08:30] Connum commented on #248
Another half a year has passed, the issue is closed, but here I am:

**package.json**
[code]

**webpack.config.js**
[code]

`4:1  ×  Expected indentation of 2 spaces   indentation`

It should be able to fix indentation automatically, shoudln't it? Am I doing something wrong?

[2020-01-28 17:05] ricardogobbosouza commented on #248
Hi @Connum
Can you share your eslint rules `eslintrc.js` ?

[2020-02-03 15:38] Connum commented on #248
Sorry for the delay in my answering, @ricardogobbosouza !
Here's my `.eslintrc` file:

[code]

[2020-02-06 15:27] mkaufmaner commented on #287
The following worked for me.

project.code-workspace
[code]

[2020-02-07 00:18] ricardogobbosouza commented on #287
@RahmatAliMalik5 this is a change in eslint 6.
See https://eslint.org/docs/user-guide/migrating-to-6.0.0#plugins-and-shareable-configs-are-no-longer-affected-by-eslints

[2020-02-07 00:34] ricardogobbosouza commented on #248
@Connum I was unable to reproduce the problem.
Please provide a repository and step by step to reproduce.

[2020-02-08 06:35] renjithspace commented on #287
This is the issue I'd been facing. I moved the source code to root of the project directory and it got fixed. @FuzzyAtish Thanks! ✌️

[2020-02-10 19:33] ksjogo commented on #214
Just did run into this. Hashing the eslintrc config might no be enough if that config is extending other configs (we are having a company wide eslint-config-*).

[2020-02-10 20:47] #309 closed

[2020-02-10 20:48] #304 closed

[2020-02-10 20:48] #305 closed

[2020-02-18 01:56] tomsaleeba commented on #261
I think I'm having a similar issue. I'm using [worker-plugin](https://github.com/GoogleChromeLabs/worker-plugin) instead of worker-loader and vue instead of react but running a similar eslint setup.

See my repo for a reproduction (and noob's analysis) of the issue: https://github.com/tomsaleeba/worker-plugin-eslint-test.

In my case, the linter is run twice. The first time lints the code as it ap

[2020-02-21 13:58] ricardogobbosouza commented on #267
Hi @barberdt, @ kelly-tock
Thanks for reporting

I do not recommend using `cache-loader` and` eslint-loader` together, use the [`cache`](https://github.com/webpack-contrib/eslint-loader#cache) option

But if you want to use both together, enable the [`failOnError`](https://github.com/webpack-contrib/eslint-loader#failOnError) option.

Soon this loader will be deprecated in favor of this plugin [es

[2020-02-21 14:07] ricardogobbosouza commented on #303
Hi @iamolegga
Thanks for reporting, sorry for the late reply

I followed the step by step, but I couldn't reproduce

[2020-02-21 16:45] kelly-tock commented on #267
I am using typescript so recently switched raking over to be handled by fork ts checker plugin

[2020-02-22 00:47] samywang92 commented on #308
@ricardogobbosouza Hi Ricardo, I had a similar issue so I didn't want to open a new one.

When I use typescript 'as' keyword, causes eslint-loader to throw error on the 'as' - " Parsing error: Unexpected token, expected "," "  even if I add ts-loader to config.  If I remove eslint-loader completely, it works fine and no errors are thrown.

Example code of as usage:
[code]
I do not get any other is

[2020-02-23 08:37] iamolegga commented on #303
Can you please provide logs of webpack?

[2020-02-28 07:36] zcq1933 commented on #287
after i downgraded it it work succeed
1,npm uninstall eslint
2, sudo npm install --save-dev -g eslint@5.14
3,eslint --init

[2020-02-28 07:36] zcq1933 commented on #287
after i downgraded it it work succeed
1,npm uninstall eslint
2, sudo npm install --save-dev -g eslint@5.14
3,eslint --init

[2020-02-28 13:53] haroldo-ok opened #315 "Combining eslint-loader + vue + typescript causes the build to fail on the first run, but work on the second run"
- Operating System: Windows 10
- Node Version: v10.16.1
- NPM Version: 6.9.0
- webpack Version: 4.0.0
- eslint-loader Version: 2.2.1

### Expected Behavior

The build should execute with no errors on the first try.

### Actual Behavior

The build process fails on first try, but works okay on the second.

### Code

#### TextDate.vue:

[code]

## package.json

[code]

#### tsconfig.json:

[code]

##

[2020-02-28 17:23] ricardogobbosouza commented on #303
[code]

[2020-02-28 17:40] ricardogobbosouza commented on #315
@haroldo-ok
Could you provide a repository to reproduce?
Remembering that `@vue/cli-plugin-eslint` is using `"eslint-loader": "^2.1.2"` and we are in version `^3.0.3`

[2020-02-28 18:13] haroldo-ok commented on #315
Thanks for the help; the correction was actually simple, though very hard to find:
https://github.com/vuejs/vue-cli/issues/5227

In order to solve the problem, it was necessary to modify `.eslintrc.js`, adding `"parser": "babel-eslint"` to the `parserOptions`:

[code]

[2020-02-28 18:13] #315 closed

[2020-02-28 18:44] iamolegga commented on #303
@ricardogobbosouza do you repeat this steps:

1. when webpack started clear console (cmd + K)
2. open src/index.js
3. remove quotes from object property and save

just tried again and got 2 builds as expected:

[code]

This behaviour is explained (as I understand it) in same issue of another loader [here](https://github.com/iamolegga/prettier-loader/issues/1#issuecomment-335796706). Also there are

[2020-03-02 13:48] ricardogobbosouza commented on #303
@iamolegga try to use [eslint-webpack-plugin](https://github.com/webpack-contrib/eslint-webpack-plugin)
And let me know if the error persists

[2020-03-18 15:46] OZZlE opened #316 "please update minimist due to prototype pollution (CVE-2020-7598)"
- Operating System: Affects all
- Node Version: v12.4.0
- NPM Version: 6.9.0
- webpack Version: 4.42.0
- eslint-loader Version: 3.0.3

### Expected Behavior

`npm audit` reports no vulnerabilities after installing this module

### Actual Behavior

    ┌───────────────┬──────────────────────────────────────────────────────────────┐
    │ Moderate      │ Prototype Pollution

[2020-03-18 22:33] neokeld commented on #316
Related to this issue in loader-fs-cache : https://github.com/viankakrisna/loader-fs-cache/issues/5

[2020-03-21 08:37] neokeld commented on #316
I've publish a fork of https://www.npmjs.com/package/loader-fs-cache (repo https://github.com/viankakrisna/loader-fs-cache) to fix this issue here : https://www.npmjs.com/package/create-fs-cache (repo https://github.com/neokeld/create-fs-cache)
@webmaster128 has published a pull request to the original lib loader-fs-cache and i hope it will be merged soon by @viankakrisna
But if it is needed i wil

[2020-03-22 15:27] neokeld commented on #316
@viankakrisna has published a new version (1.0.3) of loader-fs-cache with the fix.

[2020-03-23 07:00] vilbergs commented on #316
I forked to see if this was an easy fix. Seems that the vulnerability is bubbling up from the package [`standard-version`](https://github.com/conventional-changelog/standard-version).

I assume there's no direct action to be made here.

[2020-03-23 10:59] neokeld commented on #316
Indeed,

    |---------------|--------------------------------------------------------------|
    | Low           | Prototype Pollution                                          |
    |---------------|--------------------------------------------------------------|
    | Package       | minimist                                                     |
    |---------------|------------------------------

[2020-03-23 22:26] Akryum commented on #202
`**/dist/*` doesn't work for me 😭

[2020-03-25 19:56] sethomas commented on #121
+1

[2020-03-30 07:42] linlinyang opened #318 "Cannot read property 'range' of null"
- Operating System: window10
- Node Version: v12.13.0
- NPM Version:6.12.0
- webpack Version: 4.41.5
- eslint-loader Version: 3.0.3

### Expected Behavior

run well,no warning

### Actual Behavior

WARNING in ./src/lang/index.js
Module Warning (from ./node_modules/_eslint-loader@3.0.3@eslint-loader/dist/cjs.js):
Cannot read property 'range' of null
Occurred while linting D:\开发项目\gisaid_desktop_fe\

[2020-03-30 13:36] ricardogobbosouza commented on #318
@linlinyang  Please provide a repository with the issue.

[2020-03-30 13:55] #316 closed

[2020-04-01 02:25] KarmaBlackshaw commented on #269
Has anyone looked into this issue? Having similar problems right now.

[code]

[2020-04-01 09:45] seyfer commented on #287
if you run `eslint` from CLI there is a parameter `--resolve-plugins-relative-to /path` which could help you to point to your project root dir.
In my case, the problem was that we run `eslint` from the parent directory.

[2020-04-01 11:45] OZZlE commented on #316
It loks like @neokeld committed a fix but I don't see any new release version.. I took the work time to revisit this again now that I saw it was 'fixed' but it doesn't seem to be.. I installed latest..

[2020-04-01 12:04] ricardogobbosouza commented on #316
@OZZlE I haven't launched yet

[2020-04-02 17:19] giacomoalonzi commented on #287
I got the same error without any update, the same codebase as yesterday.
`Error: Failed to load plugin '@typescript-eslint' declared in '.eslintrc.json': Cannot find module 'typescript'`

I don't know what I have to do actually....

[2020-04-02 19:02] ricardogobbosouza commented on #316
@OZZlE [v3.0.4](https://github.com/webpack-contrib/eslint-loader/blob/master/CHANGELOG.md#changelog)

[2020-04-03 14:02] frequ commented on #261
If someone is still wondering this, I was able to fix this by moving `worker-loader` to the beginning of rules:

[code]

[2020-04-07 02:57] linlinyang commented on #318
@ricardogobbosouza Maby this is babel-loader version problem

[2020-04-10 11:28] yyynnn opened #321 "vscode integration"
Is there a way to hydrate vscode error log with errors from eslint-loader?

[2020-04-10 11:30] #321 closed

[2020-04-11 19:59] amitdhiman000 opened #322 "exclude option not working."
[code]

Problem:
1.) none of the options (include or exclude) option is working.
2.) It is not honouring **.eslintignore** file,folders.
seeing errors like:
ERROR in ./src/index.js
Module build failed (from ./node_modules/eslint-loader/dist/cjs.js):
react_app/node_modules/fs-extra/lib/mkdirs/make-dir.js:86
      } catch {
              ^

linter is going inside **node_modules**, showing errors for

[2020-04-13 11:47] vsakaria commented on #287
Node version to 12.x done it for me

[2020-04-15 11:18] denvasden commented on #269
@KarmaBlackshaw
Hey, removing "node_modules" and installing again worked for me.
I know it's weird but true.

[2020-04-15 11:52] KarmaBlackshaw commented on #269
thankss! I also did that but turns out, my problem was just that my code wasnt included in the build so eslint loader didn't check it.

[2020-04-19 11:36] ricardogobbosouza commented on #322
Hi @amitdhiman000
Please provide a repository with the issue.

[2020-04-19 11:37] ricardogobbosouza commented on #318
Closing because it is not a problem with eslint-loader

[2020-04-19 11:37] #318 closed

[2020-04-22 04:58] Ghostfly commented on #322
Try to upgrade :
- https://github.com/Ghostfly/ghostfly.dev (eslint-loader) => Boom
- https://github.com/Ghostfly/persin-conseil => Boom
I think that 4.0.0 is buggy.

[2020-04-24 00:37] eacdev commented on #313
How did you fix this?

[2020-04-24 00:43] eacdev opened #324 "Eslint-loader is not using .eslintrc.js configuration"
- Operating System: Linux
- Node Version: 13.9
- NPM Version: 6.13.7
- webpack Version: 4.43
- eslint-loader Version: ^3.0.0

### Expected Behavior

Eslint-loader should use the configuration specified in .eslintrc.js.

### Actual Behavior

Eslint-loader uses a unknown set of default rules. The result is that I am getting only 6 errors with eslint-loader whereas if I run eslint directly (node_modu

[2020-04-24 18:53] ricardogobbosouza commented on #322
Hi @Ghostfly
Resolved on [v4.01](https://github.com/webpack-contrib/eslint-loader/releases/tag/v4.0.1)

[2020-04-24 18:57] Ghostfly commented on #322
Still there :
<img width="663" alt="Capture d’écran 2020-04-24 à 20 57 23" src="https://user-images.githubusercontent.com/5880133/80247373-3a3fb680-866e-11ea-90f6-12a665e79e48.png">

[2020-04-24 19:17] ricardogobbosouza commented on #322
@Ghostfly its work for me

[2020-04-24 19:21] ricardogobbosouza commented on #324
@eacdev
We use official eslint api, maybe something wrong in configuration or setup

[2020-04-24 19:23] ricardogobbosouza commented on #322
try re-installing
`rm -rf node_modules package-lock.json && npm install`

[2020-04-24 19:36] Ghostfly commented on #322
Already tried (and now :
<img width="663" alt="Capture d’écran 2020-04-24 à 20 57 23" src="https://user-images.githubusercontent.com/5880133/80250155-8d683800-8673-11ea-8795-54df63988272.png"> again.)

Are you running on macOS ?

[2020-04-24 19:44] ricardogobbosouza commented on #322
Bug on `fs-extra`

https://github.com/jprichardson/node-fs-extra/issues/771

[2020-04-24 19:52] ricardogobbosouza commented on #322
I will revert to version 8.1.0 of fs-extra

[2020-04-24 20:01] ricardogobbosouza commented on #322
Hi @Ghostfly
Try v4.0.2

[2020-04-24 20:04] Ghostfly commented on #322
Working perfectly ! 👍 🥇

[2020-04-24 20:38] #322 closed

[2020-04-25 08:03] amitdhiman000 commented on #322
@ricardogobbosouza
by looking at discussion, it looks like it resolved with v4.0.2.
I was not possible to share the repo, it is on my organization's internal git

[2020-04-25 08:04] amitdhiman000 commented on #322
@ricardogobbosouza
by looking at discussion, it looks like it resolved with v4.0.2.
I was not possible to share the repo, it is on my organization's internal git

[2020-04-28 17:36] onebree commented on #267
@ricardogobbosouza Which loader exactly will be deprecated? Caching or ESLint? When will that deprecation happen, and is there a guide present for moving from one to the new plugin?

[2020-04-28 17:38] onebree commented on #314
@simkessy have you tried changing `failOnWarnings` to just `failOnWarning`? Turning on `failOnError: false` may help as well.

[2020-04-28 21:22] ricardogobbosouza commented on #267
Hi @onebree
- We are analyzing the depreciation of the `eslint-loader`
- We will be launching v1.0.0 of `eslint-webpack-plugin`  until this weekend

[2020-04-29 04:27] #314 closed

[2020-05-02 14:17] #324 closed

[2020-05-07 09:56] miracle2k commented on #269
Deleting `./node_modules/.cache` worked for me.

[2020-05-12 04:15] pvcresin opened #327 "failOnError option doesn't work with ts-loader and webpack-dev-server"
https://stackoverflow.com/questions/61617087/eslint-loader-failonerror-option-doesnt-work-with-ts-loader-and-webpack-dev-ser

I'm not sure this problem is with the eslint-loader.
Let me know if I'm wrong.

- Operating System: macOS Catalina v10.15.4
- Node Version: 12.16.2
- NPM Version: 6.14.4
- webpack Version: 4.33.0
- eslint-loader Version: 4.0.2

[2020-05-12 13:27] ricardogobbosouza commented on #327
Hi @pvcresin
I can't reproduce your problem

[2020-05-12 13:36] ricardogobbosouza commented on #327
Hi @pvcresin
Try to use [eslint-webpack-plugin](https://github.com/webpack-contrib/eslint-webpack-plugin)

[2020-05-12 15:22] pvcresin commented on #327
@ricardogobbosouza I'll give it a shot.

[2020-05-13 10:34] pvcresin commented on #327
@ricardogobbosouza
I've tried it, but it doesn't work. https://github.com/pvcresin/eslint-webpack-error
I'm getting an error in webpack.config.js.
[code]
I found an issue with a similar error, but it wasn't very helpful. https://github.com/typescript-eslint/typescript-eslint/issues/864

[2020-05-13 11:03] ricardogobbosouza commented on #327
@pvcresin set extensions:
[code]

[2020-05-13 11:47] pvcresin commented on #327
@ricardogobbosouza Thank you. The correct error was obtained!

[code]

What is this, by the way?
`name: 'ESLintError'`
name: 'ESLintError'

[2020-05-13 12:03] ricardogobbosouza commented on #327
See https://github.com/webpack-contrib/eslint-webpack-plugin#failonerror

[2020-05-13 12:22] pvcresin commented on #327
@ricardogobbosouza
Am I using failOnError incorrectly? https://github.com/pvcresin/eslint-webpack-error
Does failOnError mean that once it fails, I have to redo the build?
Does that mean I can't check for ESLint errors every time I save a file?

[2020-05-13 12:32] pvcresin commented on #327
@ricardogobbosouza I totally get it. It works!!
[code]

[2020-05-13 13:11] #327 closed

[2020-05-15 12:28] ricardogobbosouza opened #328 "CLIEngine has been deprecated"
Use new ESLint  class
https://eslint.org/docs/user-guide/migrating-to-7.0.0#deprecate-cliengine

[2020-05-19 12:29] liesislukas opened #329 "eslint-plugin-import fails to load properties with eslint-loader but works with stand alone eslint"
- Operating System:
![image](https://user-images.githubusercontent.com/2733862/82325980-cd0d1000-99e4-11ea-97f4-ea346c21d89c.png)

- Node Version:
- NPM Version:
![image](https://user-images.githubusercontent.com/2733862/82326004-d5fde180-99e4-11ea-850c-e29ad58b7659.png)

(using through react-scripts 3.2.0)

- webpack Version: 4.41.0
- eslint-loader Version: 3.0.2

I'm trying to use `import/order`

[2020-05-22 08:00] akvaliya opened #330 "Parsing error: Unexpected token .."
- Operating System:
- Node Version: v12.16.2
- NPM Version: 6.14.4
- webpack Version: ^4.42.1
- eslint-loader Version: ^4.0.2

### Expected Behavior

It should be able to parse

### Actual Behavior
Parsing error: Unexpected token ..
![](https://content.screencast.com/users/jalpeshrajani/folders/Jing/media/810114af-2225-4e33-b545-c09017f9b9bf/2020-05-22_1335.png)

### Code
[code]

[code]

### How D

[2020-05-25 15:32] XeniaSiskaki opened #331 "Cannot read property 'getFormatter' of undefined"
- Operating System: Ubuntu 18.04
- Node Version: 10.13.0
- NPM Version: 6.4.1
- webpack Version: 4.29.3
- eslint-loader Version: 4.0.2
- eslint Version: 6.8.0

### Expected Behavior

Lint project without errors

### Actual Behavior

The loader fails with the following error:

[code]

### Code - webpack rule

[code]
I've read through some issues saying that the loader wasn't compatible with eslint

[2020-05-25 15:51] XeniaSiskaki commented on #331
Adding the following option seems to solve the issue:

`eslintPath: 'eslint'`

It still seems this is a bug in the loader, as the printing the options without providing the eslintPath explicitly, the path points to the path of `.eslintrc.json` and of course this doesn't export a `CLIEngine`

[2020-05-26 05:50] akashingole1 commented on #209
In my case there were these hidden files .babelrc, editorconfig, .eslintignore, .eslintrc.js and .postcssrc.js(in case you have installed bootstrap). These files were not commited so when I took pull these files were missing. I resolved my problem by copying back these files.
Hope that helps.

[2020-05-26 07:26] XeniaSiskaki commented on #331
I'm sorry, I was misusing the `eslintPath` config option

[2020-05-26 07:26] #331 closed

[2020-05-26 15:21] jotatoledo commented on #287
Related to https://github.com/typescript-eslint/typescript-eslint/issues/2100

[2020-05-29 13:32] amirsaeed671 commented on #302
did that, but no luck

eslint-loader@4.0.2
eslint@6.6.0

[2020-06-01 08:41] towry commented on #202
Thanks for @jrencz 's solution. I have a local package named `abc`, and I add `abc/` to `.eslintignore`, it works.

[2020-06-01 08:55] eeezae commented on #287
`Error: Failed to load plugin '@typescript-eslint' declared in '.eslintrc.json': Cannot find module 'typescript'`

Error still exists,  downgrade to version 3.0.0 or update to 3.0.3 alpha not work to me.

[2020-06-15 20:20] akloeber opened #332 "Missing plugin referenced by .eslintrc file in ignored node_modules folder causes warning"
- Operating System: Mac OS 10.15.5
- Node Version: 10.18.0
- NPM Version: 6.13.4
- yarn Version: 1.22.4
- webpack Version: 4.43.0
- eslint-loader Version: 4.0.2

### Expected Behavior

Plugins referenced by `.eslintrc` file that resides in folder ignored via `.eslintignore` (like `node_modules`) should not cause any warnings. The config should be completely ignored because it is not required for l

[2020-06-16 20:13] tmhpfnr commented on #287
What I've found is, that when you run `npm ls` it says

[code]

So once I added the concrete dependency via `npm i --save-dev typescript@3.7.0-beta` it worked for me (I was using typescript globally before).

Hope that helps.

[2020-06-19 08:55] yoyo837 opened #333 "Plugin "import" was conflicted"
- Operating System: MacOS 10.15.5(19F101)
- Node Version: v12.18.1
- NPM Version: v6.14.5
- webpack Version: v4.43.0
- eslint-loader Version: v4.0.2

### Expected Behavior

### Actual Behavior
[code]

`src/commons/` is a git submodule.

[2020-06-25 18:09] vikas-bansal-DisneyPH opened #334 "eslint-laoder failing the build even if the failOnError set to false"
- Operating System: OSX 10.15
- Node Version: 10.21.0
- NPM Version: 6.14.4
- webpack Version: 4.43.0
- eslint-webpack-plugin Version: 4.0.2

### Expected Behavior

Build should be successful even if there are linting errors if set `failOnError` to false

### Actual Behavior

even if I have set the failOnError to false build is failing if there is even a single linting error.

### Code

[code]

<i

[2020-07-14 20:10] closingin commented on #332
Hey there. I encounter the same problem, but I have a little bit more information to share.

Actually everything works normally, as long as you run `eslint-loader` with `eslint@6.6.0`. This error starts appearing when you update `eslint` past `6.6.0` (I tried with `6.7.0`, `6.8.0`, `7.0.0`, and `7.4.0` versions).

I also tried to downgrade `eslint-loader` just in case, but all the releases from `3

[2020-07-14 21:52] closingin commented on #332
Alright after investigation, the problem comes from eslint. They introduced a new way to handle ignored paths in [this commit](https://github.com/eslint/eslint/commit/ca3b2a62c9e829dc4534bca3643d6bc729b46df0#diff-c50f7c7af8213ec603fb51a7ee2b3cf8), which tries to load the eslint config of the file it's working on (don't ask me why, idk, there must be a reason).

Here's the debug:
[code]

[2020-07-24 14:50] githoniel opened #335 "relative path is wrong when use eslint-loader in monorepo"
https://github.com/webpack-contrib/eslint-loader/blob/ed54da536155743dd4dd52d1cfd53e933aadae44/src/Linter.js#L21-L33

My project is using `Lerna ` and fold structure is like below

[code]

I will run webpack in `@gem-mine/glaucus`, so the `process.cwd` would be `${workspaceFolder}/packages/@gem-mine/glaucus`.When I'm using file from 'glaucus-plugin-align' folder, eg `glaucus-plugin-align/src/index

[2020-07-30 12:08] ricardogobbosouza opened #337 "Deprecate eslint-loader"
Use [`eslint-webpack-plugin`](https://github.com/webpack-contrib/) instead of `eslint-loader`

See https://github.com/webpack-contrib/eslint-webpack-plugin#about-plugin

[2020-08-05 10:41] cactusjosh commented on #334
I have this problem too. Did you manage to fix it okay?

[2020-08-12 15:05] samuel2749 commented on #287
I had this problem too, I try to upgrade my node.js, and then it is been worked.

[2020-08-19 12:13] gr790 commented on #271
I added eslint-loader explicitly in dev dependencies and it solved the Issues.

[2020-09-10 14:45] rodrigogs commented on #333
Having the same issue in a mono repo. How can I work with different eslint configs inside the same repo? Is it possible?

[2020-09-20 00:14] rodrigogs commented on #333
Solved it by using `root: true` in my eslintrc.js

[2020-09-24 06:14] millerrafi commented on #337
Should this be noted [in the docs](https://webpack.js.org/loaders/eslint-loader/)?

[2020-09-24 10:29] evilebottnawi commented on #337
@ricardogobbosouza I think it is time to deprecated, webpack@5 eta is `2020-10-10`, so I think we can do it

[2020-09-24 19:47] ricardogobbosouza commented on #337
@evilebottnawi
I'll do it tomorrow =)

[2020-09-27 12:36] ricardogobbosouza commented on #332
HI @closingin, @akloeber
Please use `eslint-webpack-plugin`. `eslint-loader` will be deprecated.

[2020-09-27 12:37] #332 closed

[2020-09-27 12:37] ricardogobbosouza commented on #332
related #253

[2020-09-27 12:40] #337 closed, assigned to nobody

[2020-09-27 12:42] ricardogobbosouza commented on #330
Hi @akvaliya
I couldn't reproduce

Please use [`eslint-webpack-plugin`](https://github.com/webpack-contrib/eslint-webpack-plugin). `eslint-loader` will be deprecated.

[2020-09-27 12:42] #330 closed

[2020-09-27 12:43] ricardogobbosouza commented on #329
Hi @liesislukas

Please use [`eslint-webpack-plugin`](https://github.com/webpack-contrib/eslint-webpack-plugin). `eslint-loader` will be deprecated.

Related #328

[2020-09-27 12:43] #329 closed

[2020-09-27 12:45] ricardogobbosouza commented on #334
Hi @vikas-bansal-DisneyPH

Please use [`eslint-webpack-plugin`](https://github.com/webpack-contrib/eslint-webpack-plugin). `eslint-loader` will be deprecated.

[2020-09-27 12:45] #334 closed

[2020-09-27 12:46] #333 closed

[2020-09-27 12:54] ricardogobbosouza commented on #328
Please use [`eslint-webpack-plugin`](https://github.com/webpack-contrib/eslint-webpack-plugin). `eslint-loader` will be deprecated.

[2020-09-27 12:54] #328 closed

[2020-09-27 13:12] ricardogobbosouza commented on #335
Please use [`eslint-webpack-plugin`](https://github.com/webpack-contrib/eslint-webpack-plugin). `eslint-loader` will be deprecated.

[2020-09-27 13:12] #335 closed

[2020-09-27 13:12] ricardogobbosouza commented on #267
Please use [`eslint-webpack-plugin`](https://github.com/webpack-contrib/eslint-webpack-plugin). `eslint-loader` will be deprecated.

[2020-09-27 13:12] #267 closed

[2020-09-27 13:13] ricardogobbosouza commented on #214
Please use [`eslint-webpack-plugin`](https://github.com/webpack-contrib/eslint-webpack-plugin). `eslint-loader` will be deprecated.

[2020-09-27 13:13] #214 closed

[2020-09-27 13:13] ricardogobbosouza commented on #303
Please use [`eslint-webpack-plugin`](https://github.com/webpack-contrib/eslint-webpack-plugin). `eslint-loader` will be deprecated.

[2020-09-27 13:13] #303 closed

[2020-09-27 13:50] ricardogobbosouza commented on #337
@evilebottnawi deprecated
https://www.npmjs.com/package/eslint-loader